USE [master]
GO
/****** Object:  Database [bepkhoi]    Script Date: 3/6/2025 2:45:58 PM ******/
CREATE DATABASE [bepkhoi]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bepkhoi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bepkhoi]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Customer_id] [int] IDENTITY(1,1) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Customer_name] [nvarchar](100) NOT NULL,
	[isDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery_information]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery_information](
	[Delivery_information_id] [int] IDENTITY(1,1) NOT NULL,
	[Receiver_name] [nvarchar](100) NOT NULL,
	[Receiver_phone] [nvarchar](20) NOT NULL,
	[Receiver_address] [nvarchar](255) NOT NULL,
	[Delivery_note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Delivery_information_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount_campaign]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount_campaign](
	[Discount_id] [int] IDENTITY(1,1) NOT NULL,
	[Discount_title] [nvarchar](100) NOT NULL,
	[Start_date] [date] NOT NULL,
	[End_date] [date] NOT NULL,
	[Discount_by_percentage] [bit] NOT NULL,
	[Discount_value] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[Is_delete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Discount_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discount_campaign_detail]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discount_campaign_detail](
	[Discount_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[Discount_id] [int] NOT NULL,
	[Product_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Discount_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[Invoice_id] [int] IDENTITY(1,1) NOT NULL,
	[Payment_method_id] [int] NOT NULL,
	[Order_id] [int] NOT NULL,
	[Order_type_id] [int] NOT NULL,
	[Cashier_id] [int] NOT NULL,
	[Shipper_id] [int] NULL,
	[Customer_id] [int] NULL,
	[Room_id] [int] NULL,
	[Check_in_time] [datetime] NOT NULL,
	[Check_out_time] [datetime] NOT NULL,
	[Total_quantity] [int] NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[Invoice_discount] [decimal](18, 2) NULL,
	[Total_vat] [decimal](18, 2) NULL,
	[Amount_due] [decimal](18, 2) NOT NULL,
	[Status] [bit] NULL,
	[Invoice_note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice_detail]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice_detail](
	[Invoice_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[Invoice_id] [int] NOT NULL,
	[Product_id] [int] NOT NULL,
	[Product_name] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Product_vat] [decimal](5, 2) NULL,
	[Product_note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Invoice_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Menu]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[Product_id] [int] IDENTITY(1,1) NOT NULL,
	[Product_name] [nvarchar](100) NOT NULL,
	[Product_category_id] [int] NOT NULL,
	[Cost_price] [decimal](18, 2) NOT NULL,
	[Sell_price] [decimal](18, 2) NOT NULL,
	[Sale_price] [decimal](18, 2) NULL,
	[Product_vat] [decimal](5, 2) NULL,
	[Description] [nvarchar](max) NULL,
	[Unit_id] [int] NOT NULL,
	[IsAvailable] [bit] NULL,
	[Status] [bit] NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[Order_id] [int] IDENTITY(1,1) NOT NULL,
	[Customer_id] [int] NULL,
	[Shipper_id] [int] NULL,
	[Delivery_information_id] [int] NULL,
	[Order_type_id] [int] NOT NULL,
	[Room_id] [int] NULL,
	[Created_time] [datetime] NOT NULL,
	[Total_quantity] [int] NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
	[Amount_due] [decimal](18, 2) NOT NULL,
	[Order_status_id] [int] NOT NULL,
	[Order_note] [nvarchar](255) NULL,
 CONSTRAINT [PK__Order__F1FF8453D0380D0B] PRIMARY KEY CLUSTERED 
(
	[Order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_cancellation_history]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_cancellation_history](
	[Order_cancellation_history_id] [int] IDENTITY(1,1) NOT NULL,
	[Order_id] [int] NOT NULL,
	[Cashier_id] [int] NOT NULL,
	[Product_id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Reason] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_cancellation_history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_detail]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_detail](
	[Order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[Order_id] [int] NOT NULL,
	[Status] [bit] NULL,
	[Product_id] [int] NOT NULL,
	[Product_name] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Product_note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_status]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_status](
	[Order_status_id] [int] IDENTITY(1,1) NOT NULL,
	[Order_status_title] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order_type]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order_type](
	[Order_type_id] [int] IDENTITY(1,1) NOT NULL,
	[Order_type_title] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_method]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_method](
	[Payment_method_id] [int] IDENTITY(1,1) NOT NULL,
	[Payment_method_title] [nvarchar](50) NOT NULL,
	[status] [bit] NULL,
	[isDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Payment_method_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_category]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_category](
	[Product_category_id] [int] IDENTITY(1,1) NOT NULL,
	[Product_category_title] [nvarchar](100) NOT NULL,
	[isDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product_image]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product_image](
	[Product_image_id] [int] IDENTITY(1,1) NOT NULL,
	[Product_id] [int] NOT NULL,
	[Product_image] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Product_image_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Room_id] [int] IDENTITY(1,1) NOT NULL,
	[Room_name] [nvarchar](100) NOT NULL,
	[Room_area_id] [int] NOT NULL,
	[Ordinal_number] [int] NULL,
	[Seat_number] [int] NULL,
	[Room_note] [nvarchar](255) NULL,
	[Qr_code_url] [nvarchar](255) NULL,
	[Status] [bit] NULL,
	[isUse] [bit] NULL,
	[isDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room_area]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room_area](
	[Room_area_id] [int] IDENTITY(1,1) NOT NULL,
	[Room_area_name] [nvarchar](100) NOT NULL,
	[Room_area_note] [nvarchar](255) NULL,
	[isDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Room_area_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[Unit_id] [int] IDENTITY(1,1) NOT NULL,
	[Unit_title] [nvarchar](50) NOT NULL,
	[isDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Unit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_id] [int] IDENTITY(1,1) NOT NULL,
	[role_id] [int] NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[phone] [nvarchar](20) NOT NULL,
	[status] [bit] NULL,
	[create_date] [datetime] NULL,
	[is_verify] [bit] NULL,
	[user_information_id] [int] NOT NULL,
	[isDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[User_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_information]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_information](
	[User_information_id] [int] IDENTITY(1,1) NOT NULL,
	[User_name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[Province_City] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
	[Ward_Commune] [nvarchar](100) NULL,
	[Date_of_birth] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[User_information_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_role]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
	[isDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vat_tax]    Script Date: 3/6/2025 2:45:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vat_tax](
	[Vat_tax_id] [int] IDENTITY(1,1) NOT NULL,
	[Vat_tax_value] [decimal](5, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Vat_tax_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Order_status] ON 

INSERT [dbo].[Order_status] ([Order_status_id], [Order_status_title]) VALUES (1, N'Đang phục vụ')
INSERT [dbo].[Order_status] ([Order_status_id], [Order_status_title]) VALUES (2, N'Đã thanh toán')
INSERT [dbo].[Order_status] ([Order_status_id], [Order_status_title]) VALUES (3, N'Đã Hủy')
SET IDENTITY_INSERT [dbo].[Order_status] OFF
GO
SET IDENTITY_INSERT [dbo].[Order_type] ON 

INSERT [dbo].[Order_type] ([Order_type_id], [Order_type_title]) VALUES (1, N'Đơn mang về')
INSERT [dbo].[Order_type] ([Order_type_id], [Order_type_title]) VALUES (2, N'Đơn ship')
INSERT [dbo].[Order_type] ([Order_type_id], [Order_type_title]) VALUES (3, N'Đơn tại quán')
SET IDENTITY_INSERT [dbo].[Order_type] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment_method] ON 

INSERT [dbo].[Payment_method] ([Payment_method_id], [Payment_method_title], [status], [isDelete]) VALUES (1, N'Tiền mặt', 1, 0)
INSERT [dbo].[Payment_method] ([Payment_method_id], [Payment_method_title], [status], [isDelete]) VALUES (9, N'VNPAY', 1, 0)
SET IDENTITY_INSERT [dbo].[Payment_method] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([User_id], [role_id], [email], [password], [phone], [status], [create_date], [is_verify], [user_information_id], [isDelete]) VALUES (1, 1, N'nguyenvana@example.com', N'hashed_password_1', N'0987654321', 1, CAST(N'2025-03-06T14:43:43.923' AS DateTime), 1, 1, 0)
INSERT [dbo].[User] ([User_id], [role_id], [email], [password], [phone], [status], [create_date], [is_verify], [user_information_id], [isDelete]) VALUES (2, 2, N'tranthib@example.com', N'hashed_password_2', N'0978123456', 1, CAST(N'2025-03-06T14:43:43.923' AS DateTime), 1, 2, 0)
INSERT [dbo].[User] ([User_id], [role_id], [email], [password], [phone], [status], [create_date], [is_verify], [user_information_id], [isDelete]) VALUES (3, 1, N'levanc@example.com', N'hashed_password_3', N'0967987654', 1, CAST(N'2025-03-06T14:43:43.923' AS DateTime), 1, 3, 0)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[User_information] ON 

INSERT [dbo].[User_information] ([User_information_id], [User_name], [Address], [Province_City], [District], [Ward_Commune], [Date_of_birth]) VALUES (1, N'Nguyễn Văn A', N'123 Đường ABC', N'Hà Nội', N'Cầu Giấy', N'Dịch Vọng', CAST(N'1990-05-15' AS Date))
INSERT [dbo].[User_information] ([User_information_id], [User_name], [Address], [Province_City], [District], [Ward_Commune], [Date_of_birth]) VALUES (2, N'Trần Thị B', N'456 Đường XYZ', N'Hồ Chí Minh', N'Quận 1', N'Phường Bến Thành', CAST(N'1995-08-22' AS Date))
INSERT [dbo].[User_information] ([User_information_id], [User_name], [Address], [Province_City], [District], [Ward_Commune], [Date_of_birth]) VALUES (3, N'Lê Văn C', N'789 Đường DEF', N'Đà Nẵng', N'Hải Châu', N'Phường Thanh Bình', CAST(N'1988-12-10' AS Date))
SET IDENTITY_INSERT [dbo].[User_information] OFF
GO
SET IDENTITY_INSERT [dbo].[User_role] ON 

INSERT [dbo].[User_role] ([role_id], [role_name], [isDelete]) VALUES (1, N'manager', 0)
INSERT [dbo].[User_role] ([role_id], [role_name], [isDelete]) VALUES (2, N'cashier', 0)
INSERT [dbo].[User_role] ([role_id], [role_name], [isDelete]) VALUES (3, N'shipper', 0)
SET IDENTITY_INSERT [dbo].[User_role] OFF
GO
SET IDENTITY_INSERT [dbo].[Vat_tax] ON 

INSERT [dbo].[Vat_tax] ([Vat_tax_id], [Vat_tax_value]) VALUES (1, CAST(8.00 AS Decimal(5, 2)))
INSERT [dbo].[Vat_tax] ([Vat_tax_id], [Vat_tax_value]) VALUES (2, CAST(10.00 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[Vat_tax] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__5C7E359E5BA57FBB]    Script Date: 3/6/2025 2:45:58 PM ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E61648D2A7D27]    Script Date: 3/6/2025 2:45:58 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__B43B145F4F6D9B59]    Script Date: 3/6/2025 2:45:58 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[Discount_campaign] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Discount_campaign] ADD  DEFAULT ((0)) FOR [Is_delete]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (getdate()) FOR [Check_out_time]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT ((0)) FOR [Invoice_discount]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT ((0)) FOR [Total_vat]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Menu] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Menu] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Menu] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Order] ADD  CONSTRAINT [DF__Order__Created_t__7A672E12]  DEFAULT (getdate()) FOR [Created_time]
GO
ALTER TABLE [dbo].[Order_detail] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Payment_method] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[Payment_method] ADD  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[Product_category] ADD  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[Room] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Room] ADD  DEFAULT ((0)) FOR [isUse]
GO
ALTER TABLE [dbo].[Room] ADD  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[Room_area] ADD  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[Unit] ADD  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((1)) FOR [status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [create_date]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [is_verify]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[User_role] ADD  DEFAULT ((0)) FOR [isDelete]
GO
ALTER TABLE [dbo].[Discount_campaign_detail]  WITH CHECK ADD FOREIGN KEY([Discount_id])
REFERENCES [dbo].[Discount_campaign] ([Discount_id])
GO
ALTER TABLE [dbo].[Discount_campaign_detail]  WITH CHECK ADD FOREIGN KEY([Product_id])
REFERENCES [dbo].[Menu] ([Product_id])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([Cashier_id])
REFERENCES [dbo].[User] ([User_id])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([Customer_id])
REFERENCES [dbo].[Customer] ([Customer_id])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([Order_id])
REFERENCES [dbo].[Order] ([Order_id])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([Order_type_id])
REFERENCES [dbo].[Order_type] ([Order_type_id])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([Payment_method_id])
REFERENCES [dbo].[Payment_method] ([Payment_method_id])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([Room_id])
REFERENCES [dbo].[Room] ([Room_id])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([Shipper_id])
REFERENCES [dbo].[User] ([User_id])
GO
ALTER TABLE [dbo].[Invoice_detail]  WITH CHECK ADD FOREIGN KEY([Invoice_id])
REFERENCES [dbo].[Invoice] ([Invoice_id])
GO
ALTER TABLE [dbo].[Invoice_detail]  WITH CHECK ADD FOREIGN KEY([Product_id])
REFERENCES [dbo].[Menu] ([Product_id])
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD FOREIGN KEY([Product_category_id])
REFERENCES [dbo].[Product_category] ([Product_category_id])
GO
ALTER TABLE [dbo].[Menu]  WITH CHECK ADD FOREIGN KEY([Unit_id])
REFERENCES [dbo].[Unit] ([Unit_id])
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__Customer___7B5B524B] FOREIGN KEY([Customer_id])
REFERENCES [dbo].[Customer] ([Customer_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__Customer___7B5B524B]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__Delivery___7D439ABD] FOREIGN KEY([Delivery_information_id])
REFERENCES [dbo].[Delivery_information] ([Delivery_information_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__Delivery___7D439ABD]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__Order_sta__00200768] FOREIGN KEY([Order_status_id])
REFERENCES [dbo].[Order_status] ([Order_status_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__Order_sta__00200768]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__Order_typ__7E37BEF6] FOREIGN KEY([Order_type_id])
REFERENCES [dbo].[Order_type] ([Order_type_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__Order_typ__7E37BEF6]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__Room_id__7F2BE32F] FOREIGN KEY([Room_id])
REFERENCES [dbo].[Room] ([Room_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__Room_id__7F2BE32F]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK__Order__Shipper_i__7C4F7684] FOREIGN KEY([Shipper_id])
REFERENCES [dbo].[User] ([User_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK__Order__Shipper_i__7C4F7684]
GO
ALTER TABLE [dbo].[Order_cancellation_history]  WITH CHECK ADD FOREIGN KEY([Cashier_id])
REFERENCES [dbo].[User] ([User_id])
GO
ALTER TABLE [dbo].[Order_cancellation_history]  WITH CHECK ADD  CONSTRAINT [FK__Order_can__Order__07C12930] FOREIGN KEY([Order_id])
REFERENCES [dbo].[Order] ([Order_id])
GO
ALTER TABLE [dbo].[Order_cancellation_history] CHECK CONSTRAINT [FK__Order_can__Order__07C12930]
GO
ALTER TABLE [dbo].[Order_cancellation_history]  WITH CHECK ADD FOREIGN KEY([Product_id])
REFERENCES [dbo].[Menu] ([Product_id])
GO
ALTER TABLE [dbo].[Order_detail]  WITH CHECK ADD  CONSTRAINT [FK__Order_det__Order__03F0984C] FOREIGN KEY([Order_id])
REFERENCES [dbo].[Order] ([Order_id])
GO
ALTER TABLE [dbo].[Order_detail] CHECK CONSTRAINT [FK__Order_det__Order__03F0984C]
GO
ALTER TABLE [dbo].[Order_detail]  WITH CHECK ADD FOREIGN KEY([Product_id])
REFERENCES [dbo].[Menu] ([Product_id])
GO
ALTER TABLE [dbo].[Product_image]  WITH CHECK ADD FOREIGN KEY([Product_id])
REFERENCES [dbo].[Menu] ([Product_id])
GO
ALTER TABLE [dbo].[Room]  WITH CHECK ADD FOREIGN KEY([Room_area_id])
REFERENCES [dbo].[Room_area] ([Room_area_id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[User_role] ([role_id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([user_information_id])
REFERENCES [dbo].[User_information] ([User_information_id])
GO
USE [master]
GO
